body {
    background: url("../images/wallpaper.jpg");
}

h2 {
    background-color: coral;
    color: snow;
    text-align: center;
    padding: 10px;
}

.instructions {
    color: green;
    background: peachpuff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.computer-score {
    font-size: 20px;
    font-weight: bold;
}

.random-number {
    font-size: 50px;
    font-weight: bold;
    background-color: lime;
    color: blue;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 42px;
}

.wins-losses-text {
    font-size: 20px;
    font-weight: bold;
    background: turquoise;
    color: darkgreen;
    text-align: center;
    padding-top: 24px;
}

.total-score-text {
    font-size: 25px;
    background: teal;
    text-align: center;
    color: snow;
}

.total-score {
    font-size: 50px;
    background: teal;
    text-align: center;
    color: snow;
}

